name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        luaver: ['5.3', '5.4']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Lua
      uses: leafo/gh-actions-lua@v10
      with:
        luaVersion: ${{matrix.luaver}}
    - name: Install Luarocks
      uses: leafo/gh-actions-luarocks@v4
    - name: Install dependencies
      run: |
        luarocks install luaunit
    - name: Run tests on Windows after setting the HOME environment variable
      if: ${{ matrix.os == 'windows-latest' }}
      run: |
        $env:HOME = $env:USERPROFILE
        echo "Env: HOME = $env:HOME"
        lua test.lua -v
    - name: Run tests on POSIX
      if: ${{ matrix.os != 'windows-latest' }}
      run: |
        lua test.lua -v
